body {
  background-color: grey;
}

#picture {
background: url("http://landregistry.data.gov.uk/app/ukhpi/assets/lr_logo_221_80-93aee0ed58f8ffa03202ad22bb67922901e9b355c799e0ce301dab19dceddd26.png") 105% 40% no-repeat; /* 50% 50% centers image in div */
background-size:contain;
padding-left: 100px;
padding-right: 20px;
margin-right: 20px;
}

.title1 {
  text-align: center;
}

.list1 {
  border: solid;
  border-radius: 6%;
  border-color: lightgrey;
  width: 12%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.atlassian {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  background-color: lightgrey;
  text-align: center;
}

.gitcommands {
  background-color: lightgrey;
}

.jumbotron {
  background-color: lightgrey;
}

.title2 {
  text-align: left;
  color: lightgray;
  -webkit-text-stroke: 0.4px black;
  margin-left: 5%;
}

.list2 {
  font-family: sans-serif;
  color: lightgray;
  width: 12%;
  margin-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}

.title3 {
  text-align: left;
  margin-left: 2%;
}

#text3 {
  margin-left: 3%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.glyphicon {
  font-size: 13px;
}

#java {
  font-size: 18px;
}

.title4 {
  text-align: center;
  font-size: 20px;
  border: solid;
  width: 200px;
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
}

.list4 {
  border: solid;
  border-radius: 6%;
  border-color: lightgrey;
  width: 12%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Learning {
  border: solid;
  border-radius: 3px;
  width: 550px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgrey;
}

.Applications {
    border: solid;
    border-radius: 3px;
    width: 550px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
}

.html-css h1 {
  color: rgb(29, 64, 22);
  font-size: 50px;
  background-color: rgb(3, 89, 45);
  text-shadow: rgb(255, 255, 255) 0px 0px 10px;
  text-align: center;
}

.html-css h2 {
  font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
  font-weight: normal;
  font-size: 1.75em;
  letter-spacing: .2em;
  line-height: 1.1em;
  margin:0px;
  text-align: center;
  text-transform: uppercase;
 }

 .html-css h3 {
    color: rgb(29, 64, 22);
    font-size: 50px;
    background-color: rgb(3, 89, 45);
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
    text-align: center;
  }

  .html-css p {
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: normal;
    font-size: .75em;
    letter-spacing: .1em;
    line-height: 1.0em;
    margin:0px;
    text-align: center;
    text-transform: uppercase;
  }

  .html-css ul {
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
  }
