{% extends "layout.html" %}
{% block body %}
  <div class="content"><br><br>
<h2 class="title1"> IS Solutions group apprentice </h2>
<h3>A guide to starting in the IS Solutions group, beginning with the basics</h3>
<p>
This website provides:

<ul>
<li>Tutorials</li>
<li>Useful website links</li>
<li>Individual pages for coding languages</li>
<li>Personal experiences</li>
<li>Importance of team communication</li>
</ul>

Please note that this website was made by the first IT apprentice’s and it is an ongoing project to update this site.
</p><hr>
</div></div></div><br>
<h4 class="title3"> Each button displays a small description of what each language is.</h4>

<div class="container" id="text3">
  <div class="rowhome">
    <div class="row-lg-4 row-md-6 row-sm-10 row-xs-14">
      <button type="button" class="btn btn-default btn-block" href="#row1Content" data-toggle="collapse"><h5 class="list-group-item-heading">HTML &amp; CSS <span class="glyphicon glyphicon-chevron-down"></span></h5></button>
      <div id="row1Content" class="collapse"><p class="text">HTML (the Hypertext Markup Language) and CSS (Cascading Style Sheets) are two of the core technologies for building Web pages.
                                            HTML provides the structure of the page, CSS the (visual and aural) layout, for a variety of devices. </p><a id="hyperlinks" href="html_css_page_INTRO.html" target="_blank">See more about it here</a></div>
    </div>
    <div class="row-lg-4 row-md-6 row-sm-10 row-xs-14">
        <button type="button" class="btn btn-default btn-block" href="#row2Content" data-toggle="collapse"><h5 class="list-group-item-heading">Git <span class="glyphicon glyphicon-chevron-down"></span></h5></button>
        <div id="row2Content" class="collapse"><p class="text">Git is a version control system (VCS) that is used for software development and other version control tasks.
                                              As a distributed revision control system it is aimed at speed, data integrity, and support for distributed, non-linear workflows. </p><a id="hyperlinks" href="Git.html" target="_blank">See more about it here</a></div>
      </div>
      <div class="row-lg-4 row-md-6 row-sm-10 row-xs-14">
          <button type="button" class="btn btn-default btn-block" href="#row3Content" data-toggle="collapse"><h5 class="list-group-item-heading">SQL <span class="glyphicon glyphicon-chevron-down"></span></h5></button>
          <div id="row3Content" class="collapse"><p class="text">SQL (Structured Query Language) is a standardized programming language used for managing relational databases and performing various operations on the data in them.
            </p><a id="hyperlinks" href="SQL.html" target="_blank">See more about it here</a></div>
        </div>
        <div class="row-lg-4 row-md-6 row-sm-10 row-xs-14">
            <button type="button" class="btn btn-default btn-block" href="#row4Content" data-toggle="collapse"><h5 class="list-group-item-heading">Java <span class="glyphicon glyphicon-chevron-down"></span></h5></button>
            <div id="row4Content" class="collapse"><p class="text">Java is a commonly used foundation for developing and delivering content on the Web. According to Oracle,
                                                  there are more than 9 million Java developers worldwide and more than 3 billion mobile phones run Java. </p><a id="hyperlinks" href="Java.html" target="_blank">See more about it here</a></div>
          </div>
          <div class="row-lg-4 row-md-6 row-sm-10 row-xs-14">
              <button type="button" class="btn btn-default btn-block" href="#row5Content" data-toggle="collapse"><h5 class="list-group-item-heading">Python <span class="glyphicon glyphicon-chevron-down"></span></h5></button>
              <div id="row5Content" class="collapse"><p class="text">Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.

                Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than would be possible in languages such as C++ or Java.
              </p><a id="hyperlinks" href="Python.html" target="_blank">See more about it here</a></div>
            </div>
  </div>
</div><br>
</body>
</html>
{% endblock %}