{% extends "layout.html" %}
{% block body %}
<div class="content">
<div class="html-css">
  <br>
  <br>
<h2 class="header2">HTML &amp; CSS Introduction </h2>


  <p class="text">HTML and CSS are two of the core technologies for building Web pages. HTML describes the
  structure of a web page while CSS defines the visual appearance.<br>
  It is usually better to write HTML and CSS in separate files. Separating structure and style has many advantages.
  HTML will always represent content, and CSS will always represent the appearance of that content.
  </p>

  <a href="{{ url_for('html') }}"  class="btn btn-success"> <role type="button"> Introduction to HTML</a>
  <a href="{{ url_for('htmlcontent') }}"  class="btn btn-success"> <role type="button"> HTML content</a>
  <a href="{{ url_for('htmlcss') }}"  class="btn btn-success"> <role type="button"> CSS content</a>

<br>
<br>
<br>


<img id="myImg" src="https://www.sololearn.com/Uploads/html-css.jpg" alt="Git Cheatsheet" width="300" height="200">

<h3 class="header3">HTML</h3>

<br>
    <ul>
      <li class="text">HTML stands for Hyper Text Markup Language.</li>
      <li class="text">HTML is the standard markup language for creating Web pages.</li>
      <li class="text">HTML elements are the building blocks of HTML pages</li>
      <li class="text">HTML elements are represented by tags</li>
      <li class="text">HTML tags label pieces of content such as "heading", "paragraph", "table", and so on...</li>
      <li class="text">Browsers do not display the HTML tags, but use them to render the content of the page</li>
    </ul>


<h3 class="header3">CSS</h3>

    <ul>
      <li class="text">CSS stands for Cascading Style Sheets</li>
      <li class="text">CSS describes how HTML elements are to be displayed on screen, paper, or in other media</li>
      <li class="text">CSS saves a lot of work. It can control the layout of multiple web pages all at once</li>
      <li class="text">External stylesheets are stored in CSS files</li>
    </ul>

{% endblock %}
</body>
</html>
</div>
</div>