{% extends "layout.html" %}
{% block body %}


    <p class="text">The HTML link element links a CSS file to an HTML
            file so that CSS styling can be applied. Here’s an example of the link
            element:<br>
            <p class = "highlightedwords">&lt;link rel="stylesheet" type="text/css" href="main.css"/&gt;</p>

    <p class="text">About the link:
            The link element uses three attributes:<br>
            -rel: specifies the relationships between the current file and the file being linked to: in this case, the rel attribute is “stylesheet.”<br>
            -type: Specifies the type of linked to.<br>
            -href: Provides the URL of the file being linked to.
            Like the HTML image element, link is self-closing. It does not need a closing tag.<br>
            In the example above, main.css is an external style sheet. Using external stylesheets is one of the most popular ways to write CSS. Inline CSS is another method.</p>

        <ol>
            <li class="text">Rule: A list of CSS instruction for how to style a specific HTML element or group of HTML elements.</li>
            <li class="text">Selector: Specifies exactly which HTML elements to style. Here h1 is the selector.</li>
            <li class="text">Properties and values: Located inside the { } brackets, properties and values specify what aspect of the selector to style.
              In the example, the color property Is set to blue, which will display all h1 elements in blue.</li>
        </ol>

    <pre><code>
    h1 {
     color: blue;
    }
    </code></pre>

    <br>


    <b class="text"> CSS Glossary Helpsheet</b> <a href="https://www.codecademy.com/articles/glossary-css">
      <img src="http://logiclinegmbh.github.io/splash-extended/images/CSS3_logo.png" class = "float-xs-right" alt="css_Logo" width="100" height="100">
    </a>
     </div><br><br>


    <h4  class="header4">CSS SYNTAX</h4>

        <img id="myImg" src="http://www.w3schools.com/css/selector.gif" alt="Git Cheatsheet" width="600" height="200">

        <p class="text">Selectors are used in CSS to select the parts of the HTML that are being styled.
        You can use several different methods for selecting an element. Properties are defined
        within selectors by defining a property and a value. They are separated with a colon
        and delineated with a semicolon and declaration blocks are surrounded by curly braces.
        Each declaration includes a CSS property name and a value. <br>
        <b class="text">The importance of semicolons</b><br>
        As you start adding more and more property-value pairs for each CSS selector,
        it's important remember to put a semicolon (;) at the end of each line.
        The semicolon tells CSS that one property-value pair is over and it's time to
        move on to the next one. Without semicolons, it'll become confused and your page won't look right.</p>


    <h4 class="header4">Syntax general example:</h4>
    <p class="text">selector { property: value; }</p>

    <pre><code>
        h1 {
        	color: blue;
        	font-size: 12px;
        }
    </pre></code>
        <p class="text">In this case, all html &lt;h1&gt; elements will be colored blue, with font-size 12px.</p>

    <h4 class="header4">The element Selector</h4>

    <p class="text">CSS selectors are used to "find" (or select) HTML elements based on their element name, id, class, attribute, and more.</p>

    <pre><code>
        p {
        	text-align: center;
        	color: red;
        }
    </pre></code>
        <p class="text">In this case, all html &lt;p&gt; elements will be center-aligned, with a red text color.</p>

    <h4 class="header4">Type Selectors</h4>
        <p class="text">The type selector targets all elements with a specific HTML tag. If we wanted to address all h1 elements,
        as an example, this would look like the following. In HTML it will look like &lt;h1&gt;...&lt;/h1&gt;</p>

    <pre><code>
        h1 {
        	color: blue;
        	font-family: verdana;
        	font-size: 300%;
        }
    </pre></code>
        <p class="text">In this case, all html &lt;h1&gt; elements will be colored blue, font-family verdana, font-size 300%</p>

    <h4 class="header4">The id Selector</h4>
        <p class="text">The id selector uses the id attribute of an HTML element to select a specific element.
        The id of an element should be unique within a page, so the id selector is used to select one unique element!
        To select an element with a specific id, write a hash (#) character, followed by the id of the element.
        The style rule below will be applied to the HTML element with id="para1</p>

    <pre><code>
        #para1 {
        	text-align: center;
        	color: red;
        }
    </pre></code>
        <p class="text">In this case, all html &lt;para1&gt; elements will have the text-align center, color red.
          ( NOTE An id selector cannot start with a numer!)</p>


    <h4 class="header4">The class Selector</h4>
        <p class="text">The class selector selects elements with a specific class attribute.
            To select elements with a specific class, write a period (.) character, followed by the name of the class.</p>

    <pre><code>
        .center {
        	text-align: center;
        	color: red;
        }
    </pre></code>
        <p class="text">In this case, all html elements with class="center" will be red and center-aligned.</p>


    <h4 class="header4">Grouping Selectors</h4>
    <p class="text">If you have elements with the same style definitions, like this:</p>

    <pre><code>
        h1 {
        	text-align: center;
        	color: red;
        }
        h2 {
        	text-align: center;
        	color: red;
        }
        p {
        text-align: center;
        	color: red;
        }
    </pre></code>
        <p class="text">It will be better to group the selectors, to minimize the code.
        To group selectors, separate each selector with a comma.<br>
        In the example below selectors from the code above are grouped to minimize the code</p>

    <pre><code>
        .h1, h2, p {
        	text-align: center;
        	color: red;
        }
    </pre></code>


      <h2  class="header2" style="text-align: center;">CSS basics</h2>
      <br>
        <h5 class="header5" style="font-size: 16px;">Font-Family</h5> <br>
           <p class="text" style="font-size: 14px;">One of the most effective ways to enhance the look and feel of a website is by changing the font.
           In CSS, font is managed using the font-family property: <br>
           h1 { font-family: Georgia, serif; } <br>
           Above, the font-family property of the h1 selector is set to the value of Georgia,
           with serif as a fallback font. Fallback fonts are included in case a visitor’s web
               browser does not support the first font. Sometimes, more than one fallback font is included.</p>
    <br>
    <br>

    <h5 class="header5" style="font-size: 16px;">Colour</h5> <br>
           <p class="text" style="font-size: 14px;">Black is not your only option when it comes to font color. In CSS, the color
           property sets the color of a CSS selector’s font. <br>
           h1 { color: red; } <br>
           CSS comes equipped with 140 named colors, such as red, used above. For many situations, these named colors will suffice.
               However, web developers who want to get even more exact with their color choices can use hexadecimal and RGB color values.</p>
           <ul>
         <li class="text" style="font-size: 14px;">Hexadecimal color (#RRGGBB): Hexadecimal values that represent mixtures of red, green and blue.
             For example, red can be expressed with the hexadecimal value of #FF0000:
             the value ff represents red, 00 represents green, and 00 represent blues.</li>
         <li class="text" style="font-size: 14px;">RGB (Red, Green, Blue) colors: Color created by three numbers representing red, green and blue.
             When mixed together, the three values create a specific color. For example: purple can be represented as rgb(128,0,128)</li>
           </ul>
    <br>
      <h5 class="header5" style="font-size: 16px;">Font-Size</h5> <br>
       <p class="text" style="font-size: 14px;">The size of text has an impact on how users experience a website.
           The font-size property sets the sizes of an HTML element’s text. <br>
           h1 { font-size: 60px; } <br>
           In the CSS above, font-size is set to 60px. In CSS, size can be assigned in pixels(px), rems or ems.
           Pixel(px) Standard unit of measurement for sizing fonts and other HTML elements.
           Rem: Represents the default font size for the web browser. Rems can be used to ensure that HTML
           elements scale in proportion to each other on various web browsers and screen sizes.
           On most web browsers, 1rem is equivalent to 16px, 2rem is equivalent 32px (a doubling),
           3 rem is equivalent to 49px (a tripling) and so on.
           em: a relative value that changes in proportion to the size of the parent element. <br>
           For example, if a parent element has font-size: 20px; child elements with font-size:
           1em; would be quivalent to 20px. Child elements with font-size: 0.5em; would be equivalent to 10px (a halving and so on. <br>
           We will primarily explore px and rem values since these are the most commonly used today.</p>



    <h4 class="header4">CSS COMMENTS</h4>
       <p class="text">Comments are used to explain the code, and may help when you edit the source code at a later date.
       Comments are ignored by browsers.<br>
       A CSS comment starts with /* and ends with */. Comments can also span multiple lines.</p>
{% endblock %}
</body>
</html>
