{% extends "layout.html" %}
{% from "macros.html" import html, content, list, html_important with context %}
{% block body %}
<div>
  <br>
  <br>
<hr>
    <p class="text"><b>HTML</b> and <b>CSS</b> are two of the core technologies for building Web pages. HTML describes the
  structure of a web page while CSS defines the visual appearance.<br>
  It is usually better to write HTML and CSS in separate files. Separating structure and style has many advantages.
  HTML will always represent content, and CSS will always represent the appearance of that content.
    </p>
   <ul class="nav nav-pills" >
    <li class="active"><a data-toggle="pill" href="#INTRO">Introduction</a></li>
    <li><a data-toggle="pill" href="#HTML">HTML Content</a></li>
    <li><a data-toggle="pill" href="#CSS">CSS Content</a></li>
  </ul>
  <div class="tab-content">
    <div id="INTRO" class="tab-pane fade in active">
          {{ html('Introduction')  }}
<!-- introooo -->
<img style="border-radius: 5px;" src="https://www.sololearn.com/Uploads/html-css.jpg" alt="HTML/CSS" width="300" height="200">
{{ content('HTML')}}
<br>
    <ul>
        {{ list('HTML stands for Hyper Text Markup Language') }}
        {{ list('HTML is the standard markup language for creating Web pages') }}
        {{ list('HTML elements are the building blocks of HTML pages') }}
        {{ list('HTML elements are represented by tags') }}
        {{ list('HTML tags label pieces of content such as "heading", "paragraph", "table", and so on...') }}
        {{ list('Browsers do not display the HTML tags, but use them to render the content of the page') }}
    </ul>
<h4>CSS</h4>
    <ul>
      {{ list('CSS stands for Cascading Style Sheets') }}
      {{ list('CSS describes how HTML elements are to be displayed on screen, paper, or in other media') }}
      {{ list('CSS saves a lot of work. It can control the layout of multiple web pages all at once') }}
      {{ list('External stylesheets are stored in CSS files') }}
    </ul>
    </div>
    <div id="HTML" class="tab-pane fade">
 {{ html('HTML CONTENT')  }}<!-- html!! -->
    <h5>Getting started with HTML</h5>
    <p class="text">The first thing we should do is set up the skeleton of the page.</p>
        <ul>
          <li class="text">Always put &lt;!DOCTYPE html&gt; on the first line as this tells the
            browser what language it's reading (in this case, HTML).</li>
          <li class="text">To start the HTML document always put &lt;html&gt;  on the next line.</li>
          <li class="text">To end the HTML document always put &lt;html&gt; on the last line.</li>
        </ul>
<hr>
      <h4>TAGS</h4>
      <div class="row">
        <div class="col-md-6">
        <p class="text">Things inside &lt;&gt;s are called tags.<br>
           Tags nearly always come in pairs: an opening tag and a closing tag <br>eg: &lt;tag&gt; &lt;/tag&gt;<br>
           Tags also nest, so you should close them in the right order: the most recently opened tag
          should be the first one closed.</p>
        </div>
        <div class="col-md-6">
           <pre><code>&lt;first tag&gt;
    &lt;second tag&gt;
        Some text!
    &lt;/second tag&gt;
&lt;/first tag&gt;</code></pre>
      </div>
    </div>
    <p class="text"><b>There are always two parts to an HTML file: the HEAD and the BODY</b></p>
    <h4>HEAD</h4>
      <div class="row">
        <div class="col-md-6">
       <p class="text">The &lt;head&gt; contains information about your HTML file, like its title.
         The title is what we see in the browser's title bar or page tab. <br>
         {{ html_important("Make sure to close the tag using the / within the end tag.") }}
           </div>
        <div class="col-md-6">
          <pre><code>&lt;!DOCTYPE html&gt;
      &lt;html&gt;
        &lt;head&gt;
            &lt;title&gt; My webpage! &lt;/title&gt;
        &lt;/head&gt;
      &lt;/html&gt;</code></pre>
      </div>
    </div>
     <h4>BODY</h4>
      <div class="row">
        <div class="col-md-6">
        <p class="text">The &lt;body&gt; tag defines the document's body. The &lt;body&gt; element contains all the
          contents of an HTML document, such as text (using the &lt;p&gt; tag), hyperlinks, images, tables, lists, etc.
          The body goes inside the HTML tags and after the closing &lt;head&gt; tag.<br>
          {{ html_important("Make sure to close the tag using the / within the end tag.") }}
        </p>
          </div>
    <div class="col-md-6">
          <pre><code>&lt;!DOCTYPE html&gt;
        &lt;html&gt;
            &lt;head&gt;
                 &lt;title&gt;My webpage!&lt;/title&gt;
            &lt;/head&gt;
            &lt;body&gt;
                 The content of the document...
            &lt;/body&gt;
        &lt;/html&gt;</code></pre>
      </div>
        </div>
        <h4>PARAGRAPHS</h4>
        <div class="row">
            <div class="col-md-6">
                <p class="text">
                    Paragraphs use the &lt;p&gt; tag and go inside the body tag.<br>
                    {{ html_important("Make sure to close the tag using the / within the end tag.") }}
            </div>
  <div class="col-md-6">
    <pre><code>&lt;!DOCTYPE html&gt;
        &lt;html&gt;
            &lt;head&gt;
                 &lt;title&gt;My Webpage!&lt;/title&gt;
             &lt;/head&gt;
             &lt;body&gt;
                 &lt;p&gt;Hello world!&lt;/p&gt;
                 &lt;p&gt;Welcome to this webpage&lt;/p&gt;
             &lt;/body&gt;
        &lt;/html&gt;</code></pre>
    </div>
        </div>
    <h4>HEADINGS</h4>
       <div class="row">
        <div class="col-md-6">
        <p class="text">HTML actually lets us have more than one heading size.
          There are six heading sizes, starting from &lt;h1&gt; and finishing on &lt;h6&gt;.
            {{ html_important("Make sure to close the tag using the / within the end tag.") }}
          <br>
        </p>
          </div>
         <div class="col-md-6">
    <pre><code><h1>&lt;h1&gt;</h1>
<h2>&lt;h2&gt;</h2>
<h3>&lt;h3&gt;</h3>
<h4>&lt;h4&gt;</h4>
<h5>&lt;h5&gt;</h5>
<h6>&lt;h6&gt;</h6></code></pre>
  </div>
         </div>
    <br>
    <h4>LISTS</h4>
           <div class="row">
        <div class="col-md-6">
        <p class="text">HTML supports two kinds of lists: Ordered lists and Unordered lists. Within lists
          each individual list item has its own tag  &lt;li&gt;.</p>
    <p><b>Ordered Lists</b></p>
        <p class="text">Ordered lists items are denoted with numbers.</p>
          </div>
         <br>
             <div class="col-md-6">
    <pre><code><ol>&lt;ol&gt;
        <li>&lt;li&gt;First item!&lt;/li&gt;</li>
        <li>&lt;li&gt;Second item!&lt;/li&gt;</li>
        <li>&lt;li&gt;Last item!&lt;/li&gt;</li>
&lt;/ol&gt;</ol></code></pre>
               </div>
             </div>
    <p><b>Unordered Lists</b></p>
      <div class="row">
       <div class="col-md-6">
        <p class="text">Unordered lists are just lists whose items are denoted with bullet points. This type of lists
          is when the order doesn’t matter.
            {{ html_important("Make sure to close the tag using the / within the end tag.") }}</p>
      </div>
<div class="col-md-6">
    <pre><code><ul>&lt;ul&gt;
        <li>&lt;li&gt;Computer&lt;/li&gt;</li>
        <li>&lt;li&gt;Printer&lt;/li&gt;</li>
        <li>&lt;li&gt;Laptop&lt;/li&gt;</li>
        <li>&lt;li&gt;Mouse&lt;/li&gt;</li>
&lt;/ul&gt;</ul></code></pre>
  </div>
    </div>
     <h4>DIVS</h4>
          <div class="row">
        <div class="col-md-6">
        <p class="text">Div elements divide your page by enclosing other elements.
           The enclosed groups of elements can be organised, moved and styled independently from one another.
           Div elements are often used with the class attribute.
      </div>
          <div class="col-md-6">
    <pre><code>&lt;!DOCTYPE html&gt;
    &lt;html&gt;
        &lt;head&gt;
            &lt;title&gt;Result&lt;/title&gt;
        &lt;/head&gt;
        &lt;body&gt;
&lt;div style="width:50px; background-color:red"&gt;&lt;/div&gt;
&lt;div style="width:50px; background-color:blue"&gt;&lt;/div&gt;
&lt;div style="width:50px; background-color:green"&gt;&lt;/div&gt;
&lt;div style="width:50px; background-color:yellow"&gt;&lt;/div&gt;
&lt;a href="http://www.bbc.co.uk"&gt;&lt;div&gt;&lt;/div&gt;&lt;/a&gt;
        &lt;/body&gt;
    &lt;/html&gt;</code></pre>
            </div>
        </div>
    <h4>HYPERLINKS</h4>
           <div class="row">
        <div class="col-md-6">
         <p class="text">Hyperlinks, or simply a link, is a reference to data that the reader can directly follow either by clicking,
            tapping, or hovering. A hyperlink points to a whole document or to a specific element within a document.
            Hypertext is text with hyperlinks. The text that is linked is called anchor text.<br>
            You use hyperlinks, or links for short!.</p>
          <p class="text">First, there’s an opening &lt;a&gt; tag and that tag has an attribute called href. The href value tells your link where you want it to go. In this case – https://www.codeacademy.com
            Then you have a description of your link between your opening &lt;a&gt; and your closing &lt;/a&gt; tags. This is what you will be able to click on.
            Finally, you have your closing &lt;/a&gt; tag. The first line in the example shows the what the code would look like and the second line (in blue) allows the user to access the link.</p>
          </div>
 <div class="col-md-6">
    <pre><code>&lt;a href="https://www.codecademy.com"&gt;My Favorite Site!&lt;/a&gt;<br>
<a href="https://www.codecademy.com" target="_blank">My Favorite Site!   </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"></code></pre>
            </div>
          </div>
    <h4>IMAGES</h4>
           <div class="row">
        <div class="col-md-6">
         <p class="text">To add images, the image tag needs to be used, &lt;img&gt;. This tag is a bit different from the others.
            Instead of putting the content between the tags, you tell the tag where to get the picture using src.
             It’s also different because there is no ending tag. It has / in the tag to close it.</p>
           <p class="text">Every image on the web has its own image URL. Simply right click on an image and choose “Copy image URL.”
                Paste that URL in quotes after src= to insert with your &lt;img&gt; tag.</p>
   </div>
             <div class="col-md-6">
      <pre><code>&lt;a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/organisation/logo/69/LR_logo_265.png"/a&gt;&lt;/img&gt;
          <img src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/organisation/logo/69/LR_logo_265.png" class = "float-xs-right"
                      alt="css_Logo" width="350" height="200"><br></code></pre>
               </div>
               </div>
      <b class="text">HTML Glossary Helpsheet</b> <a href="https://www.codecademy.com/articles/glossary-html" target="_blank">
      <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" class = "float-xs-right" alt="css_Logo" width="100" height="100">
    </a>
    <img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12">
      </div>
    <div id="CSS" class="tab-pane fade">
       {{ html('CSS CONTENT')  }}
<!-- CSSSSSS -->
    <p class="text">The HTML link element links a CSS file to an HTML
            file so that CSS styling can be applied. Here’s an example of the link
            element:<br>
            <p> &lt;link rel="stylesheet" type="text/css" href="main.css"/&gt</p>
    <p class="text">About the link:
            The link element uses three attributes:<br>
            -rel: specifies the relationships between the current file and the file being linked to: in this case, the rel attribute is “stylesheet.”<br>
            -type: Specifies the type of linked to.<br>
            -href: Provides the URL of the file being linked to.
            Like the HTML image element, link is self-closing. It does not need a closing tag.<br>
            In the example above, main.css is an external style sheet. Using external stylesheets is one of the most popular ways to write CSS. Inline CSS is another method.</p>
        <ol>
            <li class="text">Rule: A list of CSS instruction for how to style a specific HTML element or group of HTML elements.</li>
            <li class="text">Selector: Specifies exactly which HTML elements to style. Here h1 is the selector.</li>
            <li class="text">Properties and values: Located inside the { } brackets, properties and values specify what aspect of the selector to style.
              In the example, the color property Is set to blue, which will display all h1 elements in blue.</li>
        </ol>
<div class="col-md-6">
<pre><code>h1 {
color: blue;
}</code></pre>
        </div>
        <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div>
    <h4>CSS SYNTAX</h4>
                <br>
        <img src="http://www.w3schools.com/css/selector.gif" alt="CSS Syntax" width="650" height="150">
        <p class="text">Selectors are used in CSS to select the parts of the HTML that are being styled.
        You can use several different methods for selecting an element. Properties are defined
        within selectors by defining a property and a value. They are separated with a colon
        and delineated with a semicolon and declaration blocks are surrounded by curly braces.
        Each declaration includes a CSS property name and a value. <br>
        <b class="text">The importance of semicolons</b><br>
        As you start adding more and more property-value pairs for each CSS selector,
        it's important remember to put a semicolon (;) at the end of each line.
        The semicolon tells CSS that one property-value pair is over and it's time to
        move on to the next one. Without semicolons, it'll become confused and your page won't look right.</p>
    <h4>Syntax general example:</h4>
    <div class="row">
    <div class="col-md-6">
    <p class="text">selector { property: value; }<br>In this case, all html &lt;h1&gt; elements will be colored blue,
        with font-size 12px.</p>
    </div>
    <div class="col-md-6">
        <pre><code>h1 {
        color: blue;
        font-size: 12px;
        }</code></pre>
    </div>
    </div>
    <h4>The element Selector</h4>
    <div class="row">
    <div class="col-md-6">
    <p class="text">CSS selectors are used to "find" (or select) HTML elements based on their element name,
        id, class, attribute, and more.<br>In this case, all html &lt;p&gt; elements will be center-aligned,
        with a red text color.</p>
    </div>
    <div class="col-md-6">
        <pre><code>p {
        text-align: center;
        color: red;
        }</code></pre>
    </div>
    </div>
    <h4>Type Selectors</h4>
    <div class="row">
    <div class="col-md-6">
    <p class="text">The type selector targets all elements with a specific HTML tag. If we wanted to address all h1 elements,
        as an example, this would look like the following. In HTML it will look like &lt;h1&gt;...&lt;/h1&gt;<br>In this case, all html
        &lt;h1&gt; elements will be colored blue, font-family verdana, font-size 300%</p>
    </div>
    <div class="col-md-6">
        <pre><code>h1 {
        color: blue;
        font-family: verdana;
        font-size: 300%;
        }</code></pre>
    </div>
    </div>
    <h4>The ID Selector</h4>
    <div class="row">
    <div class="col-md-6">
    <p class="text">The id selector uses the id attribute of an HTML element to select a specific element.
        The id of an element should be unique within a page, so the id selector is used to select one unique element!
        To select an element with a specific id, write a hash (#) character, followed by the id of the element.
        The style rule below will be applied to the HTML element with id=para1.
        {{ html_important("In this case, all css #para1 elements will be the color red and aligned in the center.(NOTE An id selector cannot start with a number!)") }}</p>
    </div>
    <div class="col-md-6">
        <pre><code>#para1 {
        text-align: center;
        color: red;
        }</code></pre>
    </div>
    </div>
    <h4>The class Selector</h4>
    <div class="row">
    <div class="col-md-6">
    <p class="text">The class selector selects elements with a specific class attribute.
        To select elements with a specific class, write a period (.) character, followed by the name of the class.
        {{ html_important("In this case, all css elements with class of .center will be the color red and aligned in the center.") }}</p>
    </div>
    <div class="col-md-6">
        <pre><code>.center {
        text-align: center;
        color: red;
        }</code></pre>
    </div>
    </div>
    <h4>Grouping Selectors</h4>
    <div class="row">
    <div class="col-md-6">
    <p class="text">If you have elements with the same style definitions, like this:</p>
    </div>
    <div class="col-md-6">
        <pre><code>h1 {
        text-align: center;
        color: red;
        }
        h2 {
        text-align: center;
        color: red;
        }
        p {
        text-align: center;
        color: red;
        }</code></pre>
    </div>

    <div class="col-md-6">
    <p class="text">It will be better to group the selectors, to minimize the code.
        To group selectors, separate each selector with a comma.<br>
        {{ html_important("In this case, all css elements (h1, h2 and p) will be red and center-aligned.") }}</p>
    </div>
    <div class="col-md-6">
        <pre><code>.h1, h2, p {
        text-align: center;
        color: red;
        }</pre></code>
    </div>
    </div>
        <div class="triangle">
 <h3><a class="info-toggle collapsed" data-toggle="collapse" href="#collapse" aria-expanded="false"><button type="button" class="btn btn-default btn-block" href="#collapse" data-toggle="collapse">CSS Basics <span class="glyphicon glyphicon-chevron-down"></span></a></h3></button>
        </div>
    <div class="collapse" id="collapse" aria-expanded="false">
    <div class="jumbotron">
  <h2 style="text-align: center;">CSS basics</h2>
  <br>
    <h5 style="font-size: 16px;">Font-Family</h5> <br>
       <p class="text" style="font-size: 14px;">One of the most effective ways to enhance the look and feel of a website is by changing the font.
       In CSS, font is managed using the font-family property: <br>
       h1 { font-family: Georgia, serif; } <br>
       Above, the font-family property of the h1 selector is set to the value of Georgia,
       with serif as a fallback font. Fallback fonts are included in case a visitor’s web
           browser does not support the first font. Sometimes, more than one fallback font is included.</p>
<br>
<br>
<h5 style="font-size: 16px;">Colour</h5> <br>
       <p class="text" style="font-size: 14px;">Black is not your only option when it comes to font color. In CSS, the color
       property sets the color of a CSS selector’s font. <br>
       h1 { color: red; } <br>
       CSS comes equipped with 140 named colors, such as red, used above. For many situations, these named colors will suffice.
           However, web developers who want to get even more exact with their color choices can use hexadecimal and RGB color values.</p>
       <ul>
     <li class="text" style="font-size: 14px;">Hexadecimal color (#RRGGBB): Hexadecimal values that represent mixtures of red, green and blue.
         For example, red can be expressed with the hexadecimal value of #FF0000:
         the value ff represents red, 00 represents green, and 00 represent blues.</li>
     <li class="text" style="font-size: 14px;">RGB (Red, Green, Blue) colors: Color created by three numbers representing red, green and blue.
         When mixed together, the three values create a specific color. For example: purple can be represented as rgb(128,0,128)</li>
       </ul>
<br>
  <h5 style="font-size: 16px;">Font-Size</h5> <br>
   <p class="text" style="font-size: 14px;">The size of text has an impact on how users experience a website.
       The font-size property sets the sizes of an HTML element’s text. <br>
       h1 { font-size: 60px; } <br>
       In the CSS above, font-size is set to 60px. In CSS, size can be assigned in pixels(px), rems or ems.
       Pixel(px) Standard unit of measurement for sizing fonts and other HTML elements.
       Rem: Represents the default font size for the web browser. Rems can be used to ensure that HTML
       elements scale in proportion to each other on various web browsers and screen sizes.
       On most web browsers, 1rem is equivalent to 16px, 2rem is equivalent 32px (a doubling),
       3 rem is equivalent to 49px (a tripling) and so on.
       em: a relative value that changes in proportion to the size of the parent element. <br>
       For example, if a parent element has font-size: 20px; child elements with font-size:
       1em; would be quivalent to 20px. Child elements with font-size: 0.5em; would be equivalent to 10px (a halving and so on. <br>
       We will primarily explore px and rem values since these are the most commonly used today.</p>
</div>
       </div>
       <b class="text">CSS Glossary Helpsheet</b> <a href="https://www.codecademy.com/articles/glossary-css" target="_blank">
             <img src="http://wpguru.co.uk/wp-content/uploads/2013/09/CSS-Logo-214x300.png" class = "float-xs-right" alt="css_Logo" width="100" height="100">
           </a>
           <img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12">
         </div>
</div>
</div>
  </div>
{% endblock %}
</body>
</html>
