<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="picture" href="Homepage.html"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="Homepage.html">Home</a></li>
              <li><a href="PE.html">Personal Experiences</a></li>
            <li><a href="Links.html">Useful Links</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Coding<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="html_css_page_INTRO.html">HTML-CSS</a></li>
                <li><a href="Git.html">Git</a></li>
                <li><a href="SQL.html">SQL</a></li>
                <li><a href="Java.html">Java</a></li>
                <li><a href="Python.html">Python</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {}
  </body>
  {% block body %}{% endblock %}
  {% block footer %}
  <footer class="footer">
    <p>Posted by: <strong>Land Registry IT Apprentices</strong></p>
  </footer>
  {% endblock %}
</html>
