{% extends "layout.html" %}
{% block body %}
<br>
<br>
<hr>
  <div class="Applications">
  <h3>Learning websites &amp; Teamwork websites</h3>
  <p><a href="https://www.codecademy.com/" target="_blank">Codecademy</a><br>
  <a href="https://www.codewars.com/" target="_blank">Code Wars</a><br>
  <a href="https://github.com/" target="_blank">Git Hub</a><br>
  <a href="https://trello.com/" target="_blank">Trello</a><br>
  <a href="https://speakerdeck.com/alicebartlett/git-for-humans" target="_blank">Learning Git</a><br>
  <a href="http://www.bbc.co.uk/education/guides/ztj2xnb/revision" target="_blank">JavaScript via Bitesize</a><br>
  <a href="http://www.bbc.co.uk/education/clips/ztgc9j6" target="_blank">What is coding (video)</a><br>
  <a href="http://www.bbc.co.uk/education/clips/z38br82" target="_blank">Coding and Games Development (video)</a><br>
  <a href="http://www.thehelloworldprogram.com/python/python-game-rock-paper-scissors/" target="_blank">Make a Rock Paper Scissors Game in Python</a><br>
  <a href="https://www.learnenough.com/" target="_blank">Learn Enough</a><br>
  <a href="https://uk.code.org/learn" target="_blank">Code.org</a></p>
</div>
<br>
<div class="Applications">
  <h3>Useful Applications Sites</h3>
  <p><a href="http://www.cleancss.com/css-beautify/" target="_blank">Cleaning your CSS file up</a><br>
  <a href="https://repl.it/" target="_blank">Practice code here</a><br>
  <a href="https://git-scm.com/downloads" target="_blank">Git Bash</a><br>
  <a href="https://www.python.org/downloads/" target="_blank">Python</a><br>
  <a href="https://pip.pypa.io/en/stable/installing/" target="_blank">Python pip</a><br>
  <a href="http://flask.pocoo.org/" target="_blank">Python (Flask)</a><br>
  <a href="http://flask.pocoo.org/docs/0.11/tutorial/" target="_blank">Python Flask Tutorial</a><br>
  <a href="https://atom.io/" target="_blank">Atom (code editor)</a><br>
  <a href="https://notepad-plus-plus.org/download/v7.2.html" target="_blank">Notepad++ (code editor)</a><br>
  <a href="https://slack.com/" target="_blank">Slack (team communication)</a><br>
  <a href="http://getbootstrap.com/" target="_blank">Bootstrap (HTML addon)</a><br>
  <a href="https://www.jetbrains.com/pycharm/" target="_blank">Pycharm (code editor)</a><br>
  <a href="https://eclipse.org/downloads/" target="_blank">Eclipse (code editor, mainly java)</a><br></p>
</div>
<br>
<br>
</div>
{% endblock %}
</html>
