{% extends "layout.html" %}
{% block body %}
<br>
<br>
<hr>
  <div class="Applications">
  <h3>Learning websites &amp; Teamwork websites</h3>
  <p><a href="https://www.codecademy.com/" target="_blank">Codecademy     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="https://www.codewars.com/" target="_blank">Code Wars     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="https://github.com/" target="_blank">Git Hub     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="https://trello.com/" target="_blank">Trello     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="https://speakerdeck.com/alicebartlett/git-for-humans" target="_blank">Learning Git     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="http://www.bbc.co.uk/education/guides/ztj2xnb/revision" target="_blank">JavaScript via Bitesize     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="http://www.bbc.co.uk/education/clips/ztgc9j6" target="_blank">What is coding (video)     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="http://www.bbc.co.uk/education/clips/z38br82" target="_blank">Coding and Games Development (video)     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="http://www.thehelloworldprogram.com/python/python-game-rock-paper-scissors/" target="_blank">Make a Rock Paper Scissors Game in Python     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="https://www.learnenough.com/" target="_blank">Learn Enough     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="https://uk.code.org/learn" target="_blank">Code.org     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"></p>
</div>
<br>
<div class="Applications">
  <h3>Useful Applications Sites</h3>
  <p><a href="http://www.cleancss.com/css-beautify/" target="_blank">Cleaning your CSS file up          </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="https://repl.it/" target="_blank">Practice code here          </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="https://git-scm.com/downloads" target="_blank">Git Bash     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="https://www.python.org/downloads/" target="_blank">Python     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="https://pip.pypa.io/en/stable/installing/" target="_blank">Python pip     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="http://flask.pocoo.org/" target="_blank">Python (Flask)     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="http://flask.pocoo.org/docs/0.11/tutorial/" target="_blank">Python Flask Tutorial     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="https://atom.io/" target="_blank">Atom (code editor)     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="https://notepad-plus-plus.org/download/v7.2.html" target="_blank">Notepad++ (code editor)     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="https://slack.com/" target="_blank">Slack (team communication)     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="http://getbootstrap.com/" target="_blank">Bootstrap (HTML addon)     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="https://www.jetbrains.com/pycharm/" target="_blank">Pycharm (code editor)     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br>
  <a href="https://eclipse.org/downloads/" target="_blank">Eclipse (code editor, mainly java)     </a><img src="http://findicons.com/files/icons/2315/default_icon/256/open_in_new_window.png" width="12" height="12"><br></p>
</div>
<br>
<br>
</div>
{% endblock %}
</html>
