{% extends "layout.html" %}
{% block body %}
  <br></br>
  <br>
  <div class="row">
      <section class="col-md-4">
      <img src="http://res.cloudinary.com/lrapps/image/upload/c_scale,h_250,w_250/v1481622284/Luke_photo.jpg">
      <alt="Image">
      <h3> Luke Easton </h3>
      <p>“Since starting here I have been through a month training as an introduction to the Land Registry as well as to the course,
        the information I have gained from that month really showed in reflection, it was a very good introduction as it was mainly about settling us in but kept informing us about new subjects that none of us learnt before,
         I felt overall the Land Registry caters for its employees and isn’t afraid to use resources to go the extra length for just one person.”</p>
    </section>

      <section class="col-md-4">
      <img src="http://res.cloudinary.com/lrapps/image/upload/c_scale,h_250/v1484821143/Anna_drovqt.png">
      <alt="Image">
      <h3> Anna Luff </h3>
      <div>
      <p>“I started at Land Registry as an Apprentice with very little IT knowledge and from a non-technical background. I found the 4 week induction very beneficial in learning about the business and I enjoyed the variation of workshops and presentations from various members of staff including senior management.<br>
         They helped me settle in and become familiar with different working areas and what they do, along with what they are currently working on. It also helped me to become familiar with IT and business terms which has helped guide me since joining a working team.<br>
         Since joining my team, digital Find Property Information I have been part of an agile environment, working alongside by buddy whom is a developer. He has given me a good insight into the work he does by breaking down difficult subject matters and explaining, sometimes through the use of drawings or tutorials.<br>
         This has also been broadened within my team by contributing in the daily scrum meetings and understanding their different roles and responsibilities. So far I have learnt the basics of various languages, starting with HTML and CSS and then moving onto learning about Python and the extension of Flask.<br>
         I am looking forward to contributing more with my team, this could be shadowing other roles such as a tester or user researcher and seeing how my team works with other areas so the service is successful.”</p>
    </section>
  </div>
<br>

      <div class="row">
      <section class="col-md-4">
      <img src="http://res.cloudinary.com/lrapps/image/upload/c_scale,h_250/v1481622283/Jess_photo.jpg">
      <alt="Image">
      <h3> Jessica Ball </h3>
      <p>"When I started at the Land Registry, they gave us a friendly welcome and made sure we knew Land Registry processes, governance structure and key concepts before we started in our teams in November 2016. It is great that we have got buddies in our teams too. Therefore, if we are struggling on anything to do with our job they can help us out. The team let me get involved with some tasks/user stories for the live project that they are currently working on too, so I can have a hands on look at the system and I can see with fresh eyes (since I haven’t been involved in development).  I can’t wait to see what the rest of the year will bring."</p>
    </section>

    <section class="col-md-4">
      <img src="http://res.cloudinary.com/lrapps/image/upload/c_scale,h_250,w_200/v1484822439/Alex_h5scbo.png">
      <alt="Image">
      <h3> Alex Pirie </h3>
      <p>“Since joining LR straight from Plymouth University after graduating with a History degree I have undergone a month long induction, joined my team MOWS (Migration of Websphere Stack) and began my City & Guilds Level 3 Diploma in ICT Professional Competence with Achievement Training. Another highlight for me is organising the January 2017 Solutions Conference website, which involved HTML coding and gathering information for the site. During my spare time i have either been working on the apprentice website (HTML,CSS,Python-Flask) or completing modules for Achievement Training. As I am in a developer role I have been trying to learn and understand various coding lanuages at a basic level and then apply what I have learned.” </p>
    </section>
    </div>
  </div>
</div>
</div>
{% endblock %}
</body>
</html>
