{% extends "layout.html" %}
{% block body %}
  <br></br>
  <br>
<div class ="container">
  <div class="row">
      <section class="col-md-4">
      <img src="http://res.cloudinary.com/lrapps/image/upload/c_scale,h_250,w_250/v1481622284/Luke_photo.jpg">
      <alt="Image">
      <h3> Luke Easton </h3>
      <p>“Since starting here I have been through a month training as an introduction to the Land Registry as well as to the course, the information I have gained from that month really showed in reflection, it was a very good introduction as it was mainly about settling us in but kept informing us about new subjects that none of us learnt before, I felt overall the Land Registry caters for its employees and isn’t afraid to use resources to go the extra length for just one person.”</p>
    </section>

      <section class="col-md-4">
      <img src="http://placehold.it/250x200">
      <alt="Image">
      <h3> Anna Luff </h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </section></div>
<br>

      <div class="row">
      <section class="col-md-4">
      <img src="http://res.cloudinary.com/lrapps/image/upload/c_scale,h_250/v1481622283/Jess_photo.jpg">
      <alt="Image">
      <h3> Jessica Ball </h3>
      <p>"When I started at the Land Registry, they gave us a friendly welcome and made sure we knew Land Registry processes, governance structure and key concepts before we started in our teams in November 2016. It is great that we have got buddies in our teams too. Therefore, if we are struggling on anything to do with our job they can help us out. The team let me get involved with some tasks/user stories for the live project that they are currently working on too, so I can have a hands on look at the system and I can see with fresh eyes (since I haven’t been involved in development).  I can’t wait to see what the rest of the year will bring."</p>
    </section>

    <section class="col-md-4">
      <img src="http://placehold.it/250x200">
      <alt="Image">
      <h3> Alex Pirie </h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </section>
{% endblock %}
</html>
