{% extends "layout.html" %}
{% block body %}

<br><br>
<h4 class="pyheader4"> Current Page: Functions </h4>
{% include "includes/pythonmenu.html"  %}

<h2 class="pyheader2"> Functions</h2>
<p class="text"> What happens if you want to keep reusing the same code all over again, but it repeats throughout your code, then it becomes hard for code to read. Functions help solve that and you can reuse code, without writing the same block of code multiple times.
A function contains at least <b>1 argument</b> and <b>1 parameter</b>, or it can have infinite amount of these. You may not have seen this but <b>print()</b> is a function. This function contains an <b>unlimited</b> amount of arguments. A function begins with the keyword <b>def</b> along with the function name and relevant arguments. After declaring a function, you end the first line with a colon (:).  You got to make sure that it is indented.
You then print the output with the relevant arguments or return it. </p>

<div class ="container" id="text3">
  <div class = "rowhome">
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row1Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Printing output example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row1Content" class="collapse"><pre><code>
    def my_function_with_args(username, greeting):
        print "Hello, %s , From My Function!, I wish you %s"%(username, greeting)
</code>

</pre></div></div><br>

    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row2Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Returning output example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row2Content" class="collapse"><pre><code>
  def sum_two_numbers(a, b):
    return a + b
  </code>
</pre>
       </div>
      </div>
    </div>
  </div>


{% endblock %}
