{% extends "layout.html" %}
{% block body %}

<br><br>
<h4 class="pyheader4"> Current Page: Iteration </h4>
{% include "includes/pythonmenu.html"  %}

<h2 class="pyheader2">What is iteration?</h2>
<p class ="text">If we wanted to do similar things many times, then iteration is a perfect tool to do that. There are many types of things that can happen with iteration. With every loop it has a condition which is an expression that decides whether the loop is going to be executed or not. </p>

<h3 class="pyheader3"> While Loops </h3>
<p class ="text"> While Loops are known as a <b>conditional</b> loop, which means that the loop will keep iterating until the conditions are met.
It is <b>indefinite</b>, because there is no guarantee on when the loop will end. Like the if statement, the condition has a <b>boolean</b> expression which is set to either true or false. Once the condition is true, it will keep executing. If the condition is not true, it would stop and it would continue to the code outside of the loop. </p>

<div class ="container" id="text3">
  <div class = "rowhome">
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row1Content" data-toggle="collapse"><h5 class="list-group-item-heading"> While Loop Example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row1Content" class="collapse"><pre><code>password = "secret"
     while password != "secret":
         password = input("Please enter the password: ")
         if password == "secret":
             print"Thank you. You have entered the correct password")
         else:
             print("Sorry the value entered in incorrect - try again")</code></pre>
</div>


<h3 class="pyheader3"> For Loops </h3>
<p class="text">For Loop is used to repeat certain things a number of times. How many times the code should be repeated is indicated in the first line of the for loop. </p>
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row2Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Basic For Loop Example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row2Content" class="collapse">
       <pre><code>for counter in range(5)
      print("hello world") </code></pre></div></div></div></div></div>



<br><br>

{% endblock %}
