{% extends "layout.html" %}
{% block body %}

<br><br>
<h4 class="pyheader4">Current Page: Lists </h4>
{% include "includes/pythonmenu.html"  %}

<h2 class="pyheader2"> Lists</h2>
<p class ="text"> If you come across a data structure, then arrays is one of the most fundamental ones that you come across in Python. It is not native to Python, but it has more of a general list.  Before you come across arrays, you will definitely come across lists. They are like an ordered collection of items and you can have a list of any data type. </p>

<h3 class="pyheader3">How to create a list </h3>
<p class ="text"> To create a list, you start by creating a list variable naming it whatever you want. You define it by adding different values in square brackets, separated by commas. List indices always start with an <b>index</b> of 0. So the first item of the list will have an index of <b>0</b> and not <b>1</b>. Next item would have an index of 1 and so on. </p> </p>

<div class ="container" id="text3">
  <div class = "rowhome">
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row1Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row1Content" class="collapse"><pre><code>
    prog1 = ["Python", "HTML", "CSS", "Javascript", "Ruby"];
    prog2 = [1, 2, 3, 4, 5];
    prog3 = 1995, "Plymouth", 1997, "England", 1999];</code></pre></div></div>


<h3 class="pyheader3"> Accessing things from the list </h3>
<p class="text">If you wanted to access things fron the list, you would say the list name, followed by the index number you wanted to look at. </p>


    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row2Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row2Content" class="collapse"><pre><code>
  print "prog1[0]:" , prog1[0]  # Prints what is at index 0 in the list <b><i>prog1</i></b>. In this case it would print Python, since it is at index 0.
  print "prog2[1:5]:", list2[1:5] # This prints index 1 all the way to index 4 in <b><i>prog2</i></b>. So that would be 2,3,4,5.
</code></pre></div>

<h3 class="pyheader3">Updating and deleting lists </h3>
 <p class="text">You can modify things from the list by using the following items.  </p>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Item</th>
        <th>What does it do?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>append():</td>
        <td>Adds a new entry to the end of the list </td>
      </tr>
      <tr>
        <td>clear():</td>
        <td>Removes all entries from the list</td>
      </tr>
         <tr>
        <td>copy():</td>
        <td>Creates a copy of the current list and places it in a new list.</td>
      </tr>
        <tr>
        <td>extend():</td>
        <td>Adds items from existing list and into the current list.</td>
      </tr>
        <tr>
        <td>insert():</td>
        <td>Adds a new entry to the position that it is specified in the list. </td>
      </tr>
        <tr>
        <td>remove():</td>
        <td>Removes an entry from the list </td>
      </tr>
    </tbody>
  </table>

</div>
      </div>
    </div>
  </div>
    </div>

{% endblock %}
