{% extends "layout.html" %}
{% block body %}

<br><br>
<h4 class="header4"> Current Page: Selection </h4>
{% include "includes/pythonmenu.html"  %}

<h2 class="header2"> Selection </h2>
<p class="text">Selection in Python is also known as one type of control flow. Selection allows for a decision to be made, since there is more than one way to proceed  Here are a few examples. </p>

<h3 class="header3">If statement </h3>
 <p class="text">The if statement will execute code if the condition is true. For example, if 8 is less than 9, it would print whatever is after that line of code.</p>

    <div class ="container" id="text3">
  </div><div class = "rowhome">
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row1Content" data-toggle="collapse"><h5 class="list-group-item-heading"> If Statement Example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row1Content" class="collapse"><pre><code>
    if 8 < 9
      print "Eight is less than nine!"</code></pre></div></div></div>

<br><br>

<h3 class="header3">Else statements </h3>
 <p class="text">Else statement follows the if statement. This tells the program that if the if statement is not true, then the code after the else statement would execute.</p>

    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row3Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Else statement Example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row3Content" class="collapse"><pre>
       <code>if 8 > 9:
               print "I don't print anything"
           else:
                print: "I get printed!"</code></pre></div>
<h3 class="pyheader3"> Elif Statements </h3>
 <p class="text">Elif is a short form for else if. It is saying if the first expression is true, it checks to see if the 2nd expression is true and so on and so on.
In the example below, the elif statement is only checked if the first expression is false. </p>
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row4Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Elif statement example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row4Content" class="collapse"><pre><code>if 8 > 9:
    print "I don't get printed!"
elif 8 < 9:
    print "I get printed!"
else:
    print "I also don't get printed!"</code></pre></div></div>



 </div>
        </div>


{% endblock %}
