{% extends "layout.html" %}
{% from "macros.html" import html, content, list, html_important with context %}
{% block body %}
<div class ="html-css">
<br> <br>
<h1 class="header1">Welcome</h1>
<hr>
<p class="text_central"> Python is one of the main languages used in Land Registry by the digital teams. You will find out more about the basic concepts.</p>

<ul class="nav nav-pills" >
    <li class="active"><a data-toggle="pill" href="#INTRO">Introduction to Python</a></li>
    <li><a data-toggle="pill" href="#BASIC">Basic Programming Constructs</a></li>
    <li><a data-toggle="pill" href="#VARIABLES">Variables and Data Types</a></li>
    <li><a data-toggle="pill" href="#FUNCTIONS">Functions</a></li>
    <li><a data-toggle="pill" href="#SELECTION">Selection</a></li>
    <li><a data-toggle="pill" href="#ITERATION">Iteration</a></li>
    <li><a data-toggle="pill" href="#LISTS">List</a></li>
  </ul>
    <div class="tab-content">
<div id="INTRO" class="tab-pane fade in active">
    {{ html('Introduction To Python')  }}
<!-- Introduction -->

<h2 class="header2">What is Python</h2> <p class="text">Python is different to most programming languages because it is a scripting language.  It is designed because of it is simplicity and the ability to produce high end applications such as web development and bash script. This is a perfect language for beginners, because it is a general purpose language. </p>

<h2 class="header2">Why use Python?</h2>
 <p class="text">Because the systems were built so long ago, IS needed a way in building new systems to help the existing old systems and make the caseworker’s life and the customers life a lot easier. The old systems were built using <b>PL1</b> (programming Language) and <b>Delphi</b> (pre C# Language) 15 years ago.  So that is why the main languages we use are Python and Java, because it is a perfect programming language for beginners and so many apps on the web use it.  This makes it easy to follow the GDS guidelines of styling and to make it accessible too. </p>
<h2 class="header2">How to Download Python</h2>
 <p class="text">If you want to download Python on your home computer or on a non DITI machine, you need to go onto https://www.python.org In the Land Registry we use <b>Python 3</b>, so it is recommended you install the latest  of Python 3 on whatever operating system you want. If you want to download it using your Land Registry DITI computer, you will have to raise a <b>Marval Request</b> on <b>My Self Service</b>. More information on how you can do this can be found on the <b>HR Portal</b> or via talking to your team lead, line manager or your buddy. You will have to ask permission from your team lead to see its okay with the software being installed and you put that relevant person in the Authorisation box. You will need your LRQ/ LLID of your machine so the relevant people can remotely install the software for you, without you needing to do anything.  Once it is been approved, the request gets taken to <b>Service Desk</b> and they will sort the rest out. </p>
<br><br>
 <p class="text"><b> Click on the logo to download Python </b> <a href="https://www.python.org/downloads/"></a></p>
  <img src="https://www.python.org/static/opengraph-icon-200x200.png" class = "float-xs-right" alt="python_Logo" width="100" height="100">
</a>
 </div>

<div id="BASIC" class="tab-pane fade">
    {{ html ('Basic Programming Constructs') }}
    <!-- Hello World  -->

    <h2 class="header2">Hello World </h2>
<p class="text"> The first program that you write in any language is Hello World and it gives you a basic understanding of the syntax. To print a line to the program, you just use the keyword <b> print </b>, followed by the word you want to print in brackets. In this case, we would want to print:
<code>print ("Hello World")</code> </p>

    <!-- Whitespace -->

<h2 class="header2">Whitespace </h2>
 <p class="text">Whitespace is used in Python to structure code. It is different than languages such as Java or C# where indentation is done by using curly braces { }. In Python it is different.  Once a function is declared, you have to indent the code with four spaces in the first line and another 4 spaces before return. Here is an example: </p>

    <div class ="container" id="text3">
    <div class = "rowhome">
      <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
       <button type="button" class="btn-btn-default btn-block" href="#row1Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
       <div id="row1Content" class="collapse"><pre><code>
    def spam():
      eggs = 12
      return eggs

  print spam()
</code></pre>  </div></div></div></div>
</div>

    <div id="VARIABLES" class="tab-pane fade">

        {{ html ('Variables and Data Types') }}
<!-- Variables -->
        <h2 class="header2">Variables </h2>
 <p class="text">If you want to create a web app, they all involve storing and working with different types of data by using variables. Variables stores that particular data and gives it a specific name. Eg:
<code> variable = 5 </code> </p> <p class="text"> This variable called variable now stores the number 5. How you name the variable it doesn’t matter. However it is strongly suggested that you start the first word of your variable in lower case.
</p>

        <!-- Data Type Table -->
<h2 class="header2"> Data Types </h2>
 <p class="text">The data types in Python can be grouped into several classes. These are the following: </p>
 <table class="table table-bordered table-inverse">
    <thead>
      <tr>
        <th>Data Type</th>
        <th>Meaning</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>int</td>
        <td>Non-limited length in Python 3.x</td>
      </tr>
      <tr>
        <td>Long</td>
        <td>A non limited length which only exists in Python 2</td>
      </tr>
         <tr>
        <td>float</td>
        <td>Floating point numbers</td>
      </tr>
        <tr>
        <td>complex</td>
        <td>Complex numbers</td>
      </tr>
        <tr>
        <td>str</td>
        <td>String as a sequence of Unicode characters</td>
      </tr>
        <tr>
        <td>bytes</td>
        <td>Sequence of integers in the range of 0-255 in Python 3.x</td>
      </tr>
        <tr>
        <td>dict</td>
        <td>Python Dictionaries - element of a list is associated with a definition. </td>
      </tr>
    </tbody>
  </table></div>

    <div id ="FUNCTIONS" class="tab-pane fade">
        {{ html ('Functions') }}
     <!-- Functions-->
        <h2 class="header2"> Functions</h2>
<p class="text"> What happens if you want to keep reusing the same code all over again, but it repeats throughout your code, then it becomes hard for code to read. Functions help solve that and you can reuse code, without writing the same block of code multiple times.
A function contains at least <b>1 argument</b> and <b>1 parameter</b>, or it can have infinite amount of these. You may not have seen this but <b>print()</b> is a function. This function contains an <b>unlimited</b> amount of arguments. A function begins with the keyword <b>def</b> along with the function name and relevant arguments. After declaring a function, you end the first line with a colon (:).  You got to make sure that it is indented.
You then print the output with the relevant arguments or return it. </p>

        <!-- Code-->
<div class ="container" id="text4">
  <div class = "rowhome">
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row2Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Printing output example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row2Content" class="collapse"><pre><code>
    def my_function_with_args(username, greeting):
        print "Hello, %s , From My Function!, I wish you %s"%(username, greeting)
</code>

</pre></div></div><br>

    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row3Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Returning output example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row3Content" class="collapse"><pre><code>
  def sum_two_numbers(a, b):
    return a + b
  </code>
</pre>
       </div>
      </div>
    </div>
  </div>

    </div>
    <div id ="SELECTION" class="tab-pane fade">
        {{ html ('Selection') }}
        <!-- Introduction to Selection-->
        <h2 class="header2"> Selection </h2>
<p class="text">Selection in Python is also known as one type of control flow. Selection allows for a decision to be made, since there is more than one way to proceed  Here are a few examples. </p>

<h3 class="header3">If statement </h3>
        <p class="text">The if statement will execute code if the condition is true. For example, if 8 is less than 9, it would print whatever is after that line of code.</p>


        <!-- If Statement Code-->
    <div class ="container" id="text5">
  </div><div class = "rowhome">
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row4Content" data-toggle="collapse"><h5 class="list-group-item-heading"> If Statement Example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row4Content" class="collapse"><pre><code>
    if 8 < 9
      print "Eight is less than nine!"</code></pre></div></div></div>

<br><br>

<h3 class="header3">Else statements </h3>
        <!-- Else Statement Explanation-->
        <p class="text">Else statement follows the if statement. This tells the program that if the if statement is not true, then the code after the else statement would execute.</p>
<!-- Else Statement Code-->
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row5Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Else statement Example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row5Content" class="collapse"><pre>
       <code>if 8 > 9:
               print "I don't print anything"
           else:
                print: "I get printed!"</code></pre></div>
<h3 class="header3"> Elif Statements </h3>
        <!-- Elif Statement Explanation-->
 <p class="text">Elif is a short form for else if. It is saying if the first expression is true, it checks to see if the 2nd expression is true and so on and so on.
In the example below, the elif statement is only checked if the first expression is false. </p>
        <!-- Elif Statement code-->
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row4Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Elif statement example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row6Content" class="collapse"><pre><code>if 8 > 9:
    print "I don't get printed!"
elif 8 < 9:
    print "I get printed!"
else:
    print "I also don't get printed!"</code></pre></div></div>



 </div>
        </div>

    <div id ="ITERATION" class="tab-pane fade">
        {{ html ('Iteration') }}
        <!-- Introduction to Iteration-->
        <h2 class="header2">What is iteration?</h2>
<p class ="text">If we wanted to do similar things many times, then iteration is a perfect tool to do that. There are many types of things that can happen with iteration. With every loop it has a condition which is an expression that decides whether the loop is going to be executed or not. </p>

<h3 class="header3"> While Loops </h3>
<p class ="text"> While Loops are known as a <b>conditional</b> loop, which means that the loop will keep iterating until the conditions are met.
It is <b>indefinite</b>, because there is no guarantee on when the loop will end. Like the if statement, the condition has a <b>boolean</b> expression which is set to either true or false. Once the condition is true, it will keep executing. If the condition is not true, it would stop and it would continue to the code outside of the loop. </p>

        <!-- While Loop Code-->
<div class ="container" id="text6">
  <div class = "rowhome">
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row7Content" data-toggle="collapse"><h5 class="list-group-item-heading"> While Loop Example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row7Content" class="collapse"><pre><code>password = "secret"
     while password != "secret":
         password = input("Please enter the password: ")
         if password == "secret":
             print"Thank you. You have entered the correct password")
         else:
             print("Sorry the value entered in incorrect - try again")</code></pre>
</div>


<h3 class="header3"> For Loops </h3>
        <!-- For Loops-->
<p class="text">For Loop is used to repeat certain things a number of times. How many times the code should be repeated is indicated in the first line of the for loop. </p>
    <!-- For Loop Code Example-->
        <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row8Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Basic For Loop Example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row8Content" class="collapse">
       <pre><code>for counter in range(5)
      print("hello world") </code></pre></div></div></div></div></div>

    </div>
    <div id ="LISTS" class="tab-pane fade">
        {{ html ('Lists') }}
        <!-- Introduction to Lists-->
        <h2 class="header2"> Lists</h2>
<p class ="text"> If you come across a data structure, then arrays is one of the most fundamental ones that you come across in Python. It is not native to Python, but it has more of a general list.  Before you come across arrays, you will definitely come across lists. They are like an ordered collection of items and you can have a list of any data type. </p>

<h3 class="header3">How to create a list </h3>
<p class ="text"> To create a list, you start by creating a list variable naming it whatever you want. You define it by adding different values in square brackets, separated by commas. List indices always start with an <b>index</b> of 0. So the first item of the list will have an index of <b>0</b> and not <b>1</b>. Next item would have an index of 1 and so on. </p> </p>

<div class ="container" id="text7">
  <div class = "rowhome">
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row9Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row9Content" class="collapse"><pre><code>
    prog1 = ["Python", "HTML", "CSS", "Javascript", "Ruby"];
    prog2 = [1, 2, 3, 4, 5];
    prog3 = 1995, "Plymouth", 1997, "England", 1999];</code></pre></div></div>


<h3 class="header3"> Accessing things from the list </h3>
<p class="text">If you wanted to access things fron the list, you would say the list name, followed by the index number you wanted to look at. </p>


    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row10Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row10Content" class="collapse"><pre><code>
  print "prog1[0]:" , prog1[0]  # Prints what is at index 0 in the list <b><i>prog1</i></b>. In this case it would print Python, since it is at index 0.
  print "prog2[1:5]:", list2[1:5] # This prints index 1 all the way to index 4 in <b><i>prog2</i></b>. So that would be 2,3,4,5.
</code></pre></div>

<h3 class="header3">Updating and deleting lists </h3>
 <p class="text">You can modify things from the list by using the following items.  </p>

        <!-- List Table-->
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Item</th>
        <th>What does it do?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>append():</td>
        <td>Adds a new entry to the end of the list </td>
      </tr>
      <tr>
        <td>clear():</td>
        <td>Removes all entries from the list</td>
      </tr>
         <tr>
        <td>copy():</td>
        <td>Creates a copy of the current list and places it in a new list.</td>
      </tr>
        <tr>
        <td>extend():</td>
        <td>Adds items from existing list and into the current list.</td>
      </tr>
        <tr>
        <td>insert():</td>
        <td>Adds a new entry to the position that it is specified in the list. </td>
      </tr>
        <tr>
        <td>remove():</td>
        <td>Removes an entry from the list </td>
      </tr>
    </tbody>
  </table>

</div>
      </div>
    </div>
  </div>
    </div>
    </div>


{% endblock %}
