{% extends "layout.html" %}
{% block body %}

<br><br>
<h4 class="header4"> Current Page: Basic Programming Constructs </h4>
{% include "includes/pythonmenu.html"  %}


<h2 class="header2">Hello World </h2>
<p class="text"> The first program that you write in any language is Hello World and it gives you a basic understanding of the syntax. To print a line to the program, you just use the keyword <b> print </b>, followed by the word you want to print in brackets. In this case, we would want to print:
<code>print ("Hello World")</code> </p>

<h2 class="header2">Whitespace </h2>
 <p class="text">Whitespace is used in Python to structure code. It is different than languages such as Java or C# where indentation is done by using curly braces { }. In Python it is different.  Once a function is declared, you have to indent the code with four spaces in the first line and another 4 spaces before return. Here is an example: </p>

    <div class ="container" id="text3">
    <div class = "rowhome">
      <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
       <button type="button" class="btn-btn-default btn-block" href="#row1Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
       <div id="row1Content" class="collapse"><pre><code>
    def spam():
      eggs = 12
      return eggs

  print spam()
</code>

</pre>  </div>

        </div>
      </div>
    </div>


{% endblock %}
