{% extends "layout.html" %}
{% block body %}

<br><br>
<h4 class="pyheader4"> Current Page: Variables and Data Types </h4>
{% include "includes/pythonmenu.html"  %}
<h2 class="pyheader2">Variables </h2>
 <p class="text">If you want to create a web app, they all involve storing and working with different types of data by using variables. Variables stores that particular data and gives it a specific name. Eg:
<code> variable = 5 </code> </p> <p class="text"> This variable called variable now stores the number 5. How you name the variable it doesn’t matter. However it is strongly suggested that you start the first word of your variable in lower case.
</p>

<h2 class="pyheader2"> Data Types </h2>
 <p class="text">The data types in Python can be grouped into several classes. These are the following: </p>
 <table class="table table-bordered table-inverse">
    <thead>
      <tr>
        <th>Data Type</th>
        <th>Meaning</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>int</td>
        <td>Non-limited length in Python 3.x</td>
      </tr>
      <tr>
        <td>Long</td>
        <td>A non limited length which only exists in Python 2</td>
      </tr>
         <tr>
        <td>float</td>
        <td>Floating point numbers</td>
      </tr>
        <tr>
        <td>complex</td>
        <td>Complex numbers</td>
      </tr>
        <tr>
        <td>str</td>
        <td>String as a sequence of Unicode characters</td>
      </tr>
        <tr>
        <td>bytes</td>
        <td>Sequence of integers in the range of 0-255 in Python 3.x</td>
      </tr>
        <tr>
        <td>dict</td>
        <td>Python Dictionaries - element of a list is associated with a definition. </td>
      </tr>
    </tbody>
  </table></div>

{% endblock %}
