{% extends "layout.html" %}
{% block body %}

<br><br>
<br><br>

<h4 class="sqlheader4"> Current Page: Introduction to SQL  </h4>

{% include "includes/sqlmenu.html"  %}

    <h2 class="sqlheader2">What is SQL? </h2>
    <p class="text"> SQL stands for Structured Query Language. It is designed to store and manipulate data in relational databases It follows simple and declarative statements which makes sure that the data is accurate and secure. The integrity of databases are also secure too.

    <h2 class="sqlheader2"> What is SQL used for?</h2>
    <p class="text"> It is used across web frameworks and all database applications. SQL gives you the freedom to explore your data a lot more. There are concepts that apply to nearly every data storage system and learning SQL should help you understand more about data storage systems. </p>
    <p class="text">The other things that SQL can do are:</p>

   <ul>
     <li class="text">Execute queries against a database</li>
     <li class="text">Find data from a database</li>
     <li class="text">Can insert, update and delete records from a database.</li>
     <li class="text">Can create new databases </li>
     <li class="text">Can create new tables </li>
     <li class="text">And lots more </li>
   </ul>

{% endblock %}
