{% extends "layout.html" %}
{% block body %}

<br><br>
<br><br>

<h4 class="sqlheader4"> Current Page: SQL CREATE Statements </h4>
{% include "includes/sqlmenu.html"  %}

<h2 class="sqlheader2"> Creating a Database</h2>

<p class="text">You can't do any SQL statements until you have actually created a database first. To create a database, you use the following syntax.</p>
<div class ="container" id="text3">
  <div class = "rowhome">
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row1Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Creating Database Syntax <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row1Content" class="collapse"><code>CREATE DATABASE dbname</code></div></div></div></div>
<br><br>
<h2 class="sqlheader2">Creating Tables</h2>
<p class="text" >Without the CREATE TABLE statement, you won't be able to create tables in a database. Each table must have a name, row and a column. You start off by naming your table and then specifying the names of the columns. You also must say what datatype the column can hold.</p>
<div class ="container" id="text4">
  <div class = "rowhome">
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row2Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Creating Tables Syntax <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row2Content" class="collapse"><pre><code>
CREATE TABLE table_name
(
column_name1 data_type(size),
column_name2 data_type(size),
column_name3 data_type(size),
...
); </code></pre></div></div></div></div>

<h3 class="sqlheader3">Data Types</h3>

<ul>
    <li class="text">VARCHAR</li>
    <li class="text">CHAR</li>
    <li class="text">Boolean</li>
    <li class="text">Integer</li>
    <li class="text">Decimal</li>
    <li class="text">Float</li>
    <li class="text">Date</li>
    <li class="text">Time</li>

</ul>


</div>


{% endblock %}
