{% extends "layout.html" %}
{% block body %}

<br><br>
<h4 class="sqlheader4"> Current Page: INSERT INTO Statement  </h4>

{% include "includes/sqlmenu.html"  %}

 <h2 class="sqlheader2">SQL INSERT INTO Statement</h2>
<p class="text">This statement is used to insert new records in a table. There are two ways in which you can write these statements. The first way is that you don’t have to specify the column where the data is inserted. It assumes it will be updated to all columns and the values have to be in the right order. Another way of doing it is that you specify both the column name and the values to be inserted. </p>

   <div class ="container" id="text8">
  <div class = "rowhome">
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row6Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Insert Statement Example 1: <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row6Content" class="collapse"><pre><code>INSERT INTO table_name
VALUES (value1,value2,value3,...);</code></pre></div></div></div>

<div class = "rowhome">
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
        <button type="button" class="btn-btn-default btn-block" href="#row7Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Insert Statement Example 2: <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
        <div id="row7Content" class="collapse"><pre><code>INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES ('Cardinal','Tom B. Erichsen','Skagen 21','Stavanger','4006','Norway'); </code></pre></div></div></div></div>
</div>

{% endblock %}
