{% extends "layout.html" %}
{% block body %}

<br><br>
<br><br>

<h4 class="sqlheader4"> Current Page: SQL Update </h4>

{% include "includes/sqlmenu.html"  %}

 <h2 class="sqlheader2">SQL Update Statement</h2>
<p class="text"> The update statement modifies certain pieces of data in a table. </p>

   <div class ="container" id="text3">
  <div class = "rowhome">
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row1Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Update Statement Syntax <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row1Content" class="collapse"><pre><code>UPDATE table_name
SET column1=value1,column2=value2,...
WHERE some_column=some_value;
FROM table_name;</code></pre></div></div></div></div>

<br><br>

<p class="text"> The WHERE clause is important because it specifies what records it is talking about. If the WHERE clause is not included in the statement, then it assumes that all records will be updated. </p>
<div class ="container" id="text4">
  <div class = "rowhome">
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row2Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Update Statement Example<span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row2Content" class="collapse"><pre><code>
UPDATE Customers
SET City='Hamburg'
WHERE CustomerID=1;</code></pre></div></div></div></div>

<br><br>

<h2 class="sqlheader2">SQL Delete Statement</h2>
<p class="text">The SQL delete Statement is where you delete certain things from a table. It is very important that you use the delete statement with caution, because you don’t want to delete important data or a whole table. You can't undo this statement, so it is important that you know what you are doing with this statement. </p>
<div class ="container" id="text5">
  <div class = "rowhome">
    <div class = "row-lg-4 row-md-6 nrow-sm-10 row-xs-14">
     <button type="button" class="btn-btn-default btn-block" href="#row3Content" data-toggle="collapse"><h5 class="list-group-item-heading"> Delete Statement Example <span class ="glyphicon glyphicon-chevron-down"></span></h5></button>
     <div id="row3Content" class="collapse"><pre><code>DELETE FROM Customers
WHERE CustomerName= 'Alfreds Futterkiste' AND ContactName='Maria Anders';</code></pre></div></div></div></div>

</div>

{% endblock %}
