/* Main body of text (on all pages) */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

.text {
  font-family: 'Noto Serif', serif;
  color: black!important;
  margin-right: 2%;
  margin-left: 2%;
  font-size: 14px;
}

.footer {
right: 0;
bottom: 0;
left: 0;
padding: 1rem;
text-align: center;
 }

 /* this is in the navbar */
#picture {
background: url("http://landregistry.data.gov.uk/app/ukhpi/assets/lr_logo_221_80-93aee0ed58f8ffa03202ad22bb67922901e9b355c799e0ce301dab19dceddd26.png") 105% 40% no-repeat; /* 50% 50% centers image in div */
background-size:contain;
padding-left: 100px;
padding-right: 20px;
margin-right: 20px;
}
 /* this is in the navbar */

/* Homepage dropdown bars */
.rowhome {
  width: 50%;
  padding-bottom: 3%;
  margin-right: auto;
  margin-left: 0%;
}
/* Homepage dropdown bars */

/* Personal Experiences page */
.PE {
  padding-left: 25%;
}
/* Personal Experiences page */

/* Links Page CSS content *START* */
.Applications {
    border: solid;
    border-radius: 3px;
    text-align: center;
    color: black;
    border-color: black;
    width: 50%;
    margin: auto;
}
/* Links Page CSS content *END* */

/* This is for enlarging pictures  *START* */
  /* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 900px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* This is for enlarging pictures  *END* */
