<a href="/Python"  class="btn btn-default">  Introduction to Python</a>
<a href="/python/pythonbasics" class="btn btn-default"> Basic Programming Constructs</a>
<a href="/python/pyvariables" class="btn btn-default"> Variables and Data Types</a>
<a href="/python/pyfunctions" class="btn btn-default"> Functions </a>
<a href="/python/pyselection" class="btn btn-default"> Selection  </a>
<a href="/python/pyiteration" class="btn btn-default">  Iteration </a>
<a href="/python/pylists" class="btn btn-default">  Lists </a>
<br><br>
